
html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

.page{
    border: 1px solid crimson;
    display:table;
    width: auto;
    height:auto;
    margin: 10% auto auto auto;
    border-radius: 10px;
    padding: 2em 3em 4em 3em;
    background-color: #ffffff;
    position: relative;
  
}

input{
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 0.8em 1em;
    border-radius: 5px;
    
}

.list{ 
    list-style-type: square;
    font-size: 18px;
    line-height: 1.5;

}

.score{
    margin-top:40px;
    border: 1px solid lightgrey;
    padding: 0.8em 0.85em;
    background-color: crimson;
    border-radius: 7px;
    color:#ffffff;
  
}


button{
    border: 1px solid crimson;
    margin-left: 10%;
    padding: 0.5em 0.5em;
    background-color: crimson;
    color:#ffffff;
    border-radius: 3px;
}

.emblem{
    position:absolute;
    bottom: 0;
    margin-left: 70%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

   .page header{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        color:crimson;
        border: 1px solid crimson;
        background-color: #ffffff;
        border-top:#ffffff;
        padding: 0 1em;
    }

    body{
        background-color: aliceblue;
    }
